pipeline/Incremental_Data_Pipeline.json
{
	"name": "Incremental_Data_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy_Increm_Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last_load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Current_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM SOURCE_CARS_DATA \nWHERE DATE_ID > '@{activity('Last_load').output.firstRow.last_load}' \nAND DATE_ID <= '@{activity('Current_Load').output.firstRow.MAX_DATE}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "BRANCH_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BRANCH_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DEALER_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DEALER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MODEL_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MODEL_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REVENUE",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "REVENUE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "UNITS_SOLD",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "UNITS_SOLD",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DATE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DATE_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DAY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DAY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MONTH",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MONTH",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "YEAR",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "YEAR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BRANCHNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BRANCHNAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DEALERNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DEALERNAME",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "SOURCE_CARS_DATA"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Storageaccount",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Last_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from WATER_TABLE",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "WATER_TABLE"
						}
					}
				}
			},
			{
				"name": "Current_Load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max(DATE_ID) AS MAX_DATE from SOURCE_CARS_DATA",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "SOURCE_CARS_DATA"
						}
					}
				}
			},
			{
				"name": "Update_Water_Mark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_Increm_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermarkTable]",
					"storedProcedureParameters": {
						"lastload": {
							"value": {
								"value": "@activity('Current_Load').output.firstRow.MAX_DATE",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}